@model IEnumerable<Course>

<h2>کارتابل دانشجو</h2>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Group</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Day</td>
                <td>@item.StartTime</td>
                <td>@item.EndTime</td>
                <td>@item.RegistrationNsumber</td>
                <td>@item.Capacity</td>
                <td>
                    <form id="deleteForm-@item.Id" asp-controller="StudentCartable" asp-action="Delete" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@item.Id" />
                        <a href="javascript:;" onclick="document.getElementById('deleteForm-@item.Id').submit(); return false;">Delete</a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
